<div class="center jumbotron">
  <% provide :title, t(".home") %>
  <h1><%= t(".sample_app") %></h1>
  <h2>
    <%= t(".this_is_the_home_page_for_the")%>
    <%= link_to Settings.railstutorial do %>
    <i><%= t(".ruby_on_rails_tutorial") %></i><% end %>
    <%= t(".sample_application") %>.
  </h2>
  <%= link_to t(".sign_up"), "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            Settings.rubyonrails %>
