<footer class="footer">
  <small>
    <%= t(".the") %> <%= link_to t(".ruby_on_rails_tutorial"), Settings.railstutorial %>
    <%= t(".by") %> <%= link_to t(".michael_hartl"), Settings.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.news_railstutorial %></li>
    </ul>
  </nav>
</footer>
